var issues = [];

var issuetemplate = [
		{
			subject: "Servicio Labs detenido",
			description: "El servidor de preproducción se encuentra actualmente detenido pendiente de actualización de la base de datos para investigar una incidencia en el entorno de producción",
			type: "info_outline", //info_outline, warning, error
			start: "2016-06-06 10:37",
			end: "2016-06-08 13:00",
		},
];
