var services = [
		{
			id: "777619939",
			apikey: "m777619939-149cfd15699773cbbf493e17",
			description: "Conectividad con Internet",
			problem: "Something went wrong. Very, very, very wrong.",
			ishero: false,
			weight: 25.0,
		},
		{
			id: "777605993",
			apikey: "m777605993-fe471da267567bbbdd89223d",
			description: "Entorno de producción",
			problem: "There has been an error, have you felt it?",
			ishero: true,
			weight: 60.0,
		},
		{
			id: "777754563",
			apikey: "m777754563-267319a86ff1c4f6133d2e28",
			description: "Recursos REST del entorno de producción",
			problem: "There has been an error, have you felt it?",
			ishero: true,
			weight: 10.0,
		},		
		{
			id: "777605997",
			apikey: "m777605997-d184e7177fba16f4f2c9b6ab",
			description: "Entorno de preproducción",
			problem: "There has been an error, have you felt it?",
			hero: false,
			weight: 3.5,
		},
		{
			id: "777605998",
			apikey: "m777605998-a84aa45ca6e4788e0d23a798",
			description: "Entorno de desarrollo privado",
			problem: "Somebody pulled the plug.",
			ishero: false,
			weight: 0.5,
		},
		{
			id: "777606001",
			apikey: "m777606001-04fe1620e33b30ec7be8d1e0",
			description: "Entorno de desarrollo público",
			problem: "Somebody pulled the plug.",
			ishero: false,
			weight: 0.5,
		},
		{
			id: "777754544",
			apikey: "m777754554-8ea49eff0bb42e0c0c6c206e",
			description: "Página de inicio de sesión",
			problem: "Oops.",
			ishero: false,
			weight: 0.5,
		}
		
	]
