/* Telekom Screen Fonts */
@font-face{font-family:TeleIconUi;font-style:normal;font-weight:400;src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/teleicon-ui.eot');src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/teleicon-ui.eot?#iefix') format("embedded-opentype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/teleicon-ui.woff') format("woff"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/teleicon-ui.ttf') format("truetype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/teleicon-ui.svg#teleicon-ui') format("svg")}
@font-face{font-family:TeleGroteskScreen;font-style:normal;font-weight:200;src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-thin.eot');src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-thin.eot?#iefix') format("embedded-opentype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-thin.woff') format("woff"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-thin.ttf') format("truetype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-thin.svg#telegroteskscreen-thin') format("svg")}
@font-face{font-family:TeleGroteskScreen;font-style:normal;font-weight:400;src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-regular.eot');src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-regular.eot?#iefix') format("embedded-opentype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-regular.woff') format("woff"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-regular.ttf') format("truetype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-regular.svg#telegroteskscreen-regular') format("svg")}
@font-face{font-family:TeleGroteskScreen;font-style:italic;font-weight:400;src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-regular-italic.eot');src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-regular-italic.eot?#iefix') format("embedded-opentype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-regular-italic.woff') format("woff"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-regular-italic.ttf') format("truetype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-regular-italic.svg#telegroteskscreen-regular-italic') format("svg")}
@font-face{font-family:TeleGroteskScreen;font-style:normal;font-weight:600;src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-medium.eot');src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-medium.eot?#iefix') format("embedded-opentype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-medium.woff') format("woff"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-medium.ttf') format("truetype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-medium.svg#telegroteskscreen-medium') format("svg")}
@font-face{font-family:TeleGroteskScreen;font-style:italic;font-weight:600;src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-medium-italic.eot');src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-medium-italic.eot?#iefix') format("embedded-opentype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-medium-italic.woff') format("woff"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-medium-italic.ttf') format("truetype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-medium-italic.svg#telegroteskscreen-medium-italic') format("svg")}
@font-face{font-family:TeleGroteskScreen;font-style:normal;font-weight:700;src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-bold.eot');src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-bold.eot?#iefix') format("embedded-opentype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-bold.woff') format("woff"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-bold.ttf') format("truetype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-bold.svg#telegroteskscreen-bold') format("svg")}
@font-face{font-family:TeleGroteskScreen;font-style:normal;font-weight:800;src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-ultra.eot');src:url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-ultra.eot?#iefix') format("embedded-opentype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-ultra.woff') format("woff"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-ultra.ttf') format("truetype"),url('https://www.brand-design.telekom.com/typo3conf/ext/xtb_base/Vendor/telekom-toolbox-templates/fonts/telegroteskscreen-ultra.svg#telegroteskscreen-ultra') format("svg")}

/* $Responsive */
.section {
	clear: both;
	padding: 0;
	margin: 1% 0;
}
.group:before, .group:after {
	content: "";
	display: table;
}
.group:after { clear: both; }
.group { zoom: 1; }
.col {
	display: block;
	float: left;
	margin: 0;
}

.span_1_of_12 { width: 8.33%; }
.span_1_of_11 { width: 9.09%; }
.span_1_of_10 { width: 10%; }
.span_1_of_9 { width: 11.11%; }
.span_1_of_8 { width: 12.5%; }
.span_1_of_7 { width: 14.28%; }
.span_1_of_6,
.span_2_of_12 { width: 16.66%; }
.span_2_of_11 { width: 18.18%; }
.span_1_of_5,
.span_2_of_10 { width: 20%; }
.span_2_of_9 { width: 22.22%; }
.span_1_of_4,
.span_2_of_8,
.span_3_of_12 { width: 25%; }
.span_3_of_11 { width: 27.27%; }
.span_2_of_7 { width: 28.57%; }
.span_3_of_10 { width: 30%; }
.span_1_of_3,
.span_2_of_6,
.span_3_of_9,
.span_4_of_12 { width: 33.33%; }
.span_4_of_11 { width: 36.36%; }
.span_3_of_8 { width: 37.5%; }
.span_2_of_5,
.span_4_of_10 { width: 40%; }
.span_5_of_12 { width: 41.66%; }
.span_3_of_7 { width: 42.85%; }
.span_4_of_9 { width: 44.44%; }
.span_5_of_11 { width: 45.45%; }
.span_1_of_2,
.span_2_of_4,
.span_3_of_6,
.span_4_of_8,
.span_5_of_10,
.span_6_of_12 { width: 50%; }
.span_6_of_11 { width: 54.54%; }
.span_5_of_9 { width: 55.55%; }
.span_4_of_7 { width: 57.14%; }
.span_7_of_12 { width: 58.33%; }
.span_3_of_5,
.span_6_of_10 { width: 60%; }
.span_5_of_8 { width: 62.5%; }
.span_7_of_11 { width: 63.63%; }
.span_2_of_3,
.span_4_of_6,
.span_6_of_9,
.span_8_of_12 { width: 66.66%; }
.span_7_of_10 { width: 70%; }
.span_5_of_7 { width: 71.42%; }
.span_8_of_11 { width: 72.72%; }
.span_3_of_4,
.span_6_of_8,
.span_9_of_12 { width: 75%; }
.span_7_of_9 { width: 77.77%; }
.span_4_of_5,
.span_8_of_10 { width: 80%; }
.span_9_of_11 { width: 81.81%; }
.span_5_of_6,
.span_10_of_12 { width: 83.33%; }
.span_6_of_7 { width: 85.71%; }
.span_7_of_8 { width: 87.5%; }
.span_8_of_9 { width: 88.88%; }
.span_9_of_10 { width: 90%; }
.span_10_of_11 { width: 90.90%; }
.span_11_of_12 { width: 91.66%; }
.span_1_of_1 { width: 100%; }

@media only screen and (min-width:1440px) { header, #maincontent, .maincontent, footer { width: 70%; } }
@media only screen and (max-width:1024px) and (min-width:800px) { header, #maincontent, .maincontent, footer { width: 93.75%; } }
@media only screen and (max-width:799px) {
	header, #maincontent, .maincontent, footer { width: 93.75%; }
	.span_1_of_2, .span_1_of_2, .span_2_of_2, .span_1_of_3, .span_2_of_3, .span_3_of_3, .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4, .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5, .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6, .span_1_of_7, .span_2_of_7, .span_3_of_7, .span_4_of_7, .span_5_of_7, .span_6_of_7, .span_7_of_7, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8, .span_1_of_9, .span_2_of_9, .span_3_of_9, .span_4_of_9, .span_5_of_9, .span_6_of_9, .span_7_of_9, .span_8_of_9, .span_9_of_9, .span_1_of_10, .span_2_of_10, .span_3_of_10, .span_4_of_10, .span_5_of_10, .span_6_of_10, .span_7_of_10, .span_8_of_10, .span_9_of_10, .span_10_of_10, .span_1_of_11, .span_2_of_11, .span_3_of_11, .span_4_of_11, .span_5_of_11, .span_6_of_11, .span_7_of_11, .span_8_of_11, .span_9_of_11, .span_10_of_11, .span_11_of_11, .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 { width: 100%; }
	.span_1_of_8 { width: 25%; }
	.span_2_of_8 { width: 50%; }
	.span_3_of_8 { width: 75%; }
	.span_1_of_8:nth-child(4n+1) {
		clear: both;
		margin-left: 0;
	}
}
/* $Global */
body {
	margin: 0 auto;
	padding: 0;
	font: normal 1em/1.4 TeleGroteskScreen, 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	color: #333333;
	text-align: center;
	background: /*#f9f9f9;*/ #222222;
}
html {
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: #2980b9;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; }
::-webkit-selection, ::-moz-selection, ::selection {
	background: #2980b9;
	color: #ffffff;
	text-shadow: none;
}
#skiptomain { display: none; }
#headcontainer,
#maincontentcontainer,
#footercontainer { width: 100%; }
#headcontainer { background: #f9f9f9; }
#footercontainer { background: #222; }
header,
#maincontent,
.maincontent,
footer {
	clear: both;
	width: 80%;
	max-width: 92.3em;
	margin: 0 auto !important;
}
header {
	padding: 2% 0 1%;
	position: relative;
	color: #000;
	text-align: center;
}
#maincontentcontainer{
	background: white;
}
#maincontent,
.maincontent {
	padding: 3% 0 4%; /*7%;*/
	color: #333;
	line-height: 1.5em;
	position: relative;
}
footer {
	padding: 1% 0 !important;
	color: #999;
}
footer a:link, footer a:visited { color: #ccc; }
footer a:hover { color: #fff; }
footer ul { list-style: none; }
/* $Fonts */
h1, h2, h3, h4, h5, h6 { margin: 0; }
h1 {
	font: 300 4em/2 TeleGroteskScreen, 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	color: #111;
}
h2 {
	font: 400 2.6em/1.1 TeleGroteskScreen, 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	color: #222;
}
h3 {
	font: 700 1.4em/1.6 TeleGroteskScreen, 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	color: #333;
	text-transform: uppercase;
}
h4 {
	font: 300 4em/1 TeleGroteskScreen, 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	color: #444;
}
h5 {
	font: 700 1.1em/2 TeleGroteskScreen, 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	color: #555;
	text-transform: uppercase;
}
h6 {
	font: 300 1em/2 TeleGroteskScreen, 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	color: #666;
}
a {
	text-decoration: none;
	color: #2980b9;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
a:hover, a:active, a:focus {
	color: #3498db;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
h1 a { color: #222; }
h1 a:hover { color: #111; }
h2 a { color: #333; }
h2 a:hover { color: #222; }
b, strong { font-weight: 700; }
p {
	-webkit-hyphens: auto;
	-webkit-hyphenate-character: "\2010";
	-webkit-hyphenate-limit-after: 1;
	-webkit-hyphenate-limit-before: 3;
	-moz-hyphens: auto;
	hyphens: auto;
	text-align: left;
}
sub, sup {
	font-size: .75em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -.5em; }
sub { bottom: -.25em; }
small { font-size: .9em; }
/* $Classes */
.ie7 img, .iem7 img { -ms-interpolation-mode: bicubic; }
img {
	border: 0;
	max-width: 100%; }

.clearfix { zoom: 1; }



.clear { clear: both; }
.clearleft { clear: left; }
.clearright { clear: right; }

.floatnone { float: none; }
.floatleft { float: left; }
.floatright { float: right; }

.breaker { margin: 3% 0; padding: 1px; height: 1px; }
.breaker.xl { height: 35px; }

.faded {
	opacity: .7;
	filter: alpha(opacity=70);
}
.box {
	padding: 2% 3%;
	margin: 2% 3%;
	border-radius: 3px;
	text-align: center;
}
h3.box, h4.box { color: #ffffff !important; }
h6.box { color: #000000 !important; }
.red { color: #c0392b !important; }
.up { background: #2ecc71; }
.down { background: #e74c3c; }
.level { background: #e67e22; }
.none { background: #95a5a6; }

.boxed {
	padding: 2% 3%;
	margin: 2% 3%;
	border-radius: 3px;
	text-align: center;
	background: transparent;
}

.boxed.up { border: 1px solid #2ecc71; color: #2ecc71;}
.boxed.down { border: 1px solid #e74c3c; color: #e74c3c;}
.boxed.level { border: 1px solid #E6B922; color: #E6B922;}
.boxed.none { border: 1px solid #95a5a6; color: #95a5a6;}

.boxed.noborder { border: none;}

.normalheight{ line-height: 1em; }

p.equalize{
	font-size: 1.2em;
}

.right { text-align: right; }
.center { text-align: center; }
.left { text-align: left; }

.highlight, .highlight:hover {
	background: #4B98FF !important;
	color: #fefefe;
	font-weight: 400;
}
.highlight a, .highlight a:hover { color: #ffffff; }

h5.hero{
	border-top: 1px solid #aaa;
}

.col.centered{
	margin: 0 auto;
	float: none;
}


/*#headcontainer.up { background: #1DBD61; }
#headcontainer.up h1 { color:#019A43; }*/
h2.service-status.up { background: #2ecc71; border-bottom: 3px solid #ADF5CC; border-top: 3px solid #0CB956; color:#019A43;}

/*#headcontainer.down { background: #e74c3c; }
#headcontainer.down h1 { color:#C31907;  }*/
h2.service-status.down { background: #FD5F4F; border-bottom: 3px solid #FDA199; border-top: 3px solid #DE4333; color:#C31907; }

/*#headcontainer.level { background: #e67e22; }
#headcontainer.level h1 { color:#9C4E08;  }*/
h2.service-status.level { background: #FB8823; border-bottom: 3px solid #FFC089; border-top: 3px solid #CC650A; color:#9C4E08; }

/*#headcontainer.none { background: #E4E4E4; }
#headcontainer.none h1 { color:#666;  }*/
h2.service-status.none { background: #f0f0f0; border-bottom: 3px solid #F9F9F9; border-top: 3px solid #D8D8D8; color:#666; }



.section.bleed{
	background: #fefefe;
    border-top: 3px solid #fafafa;
    border-bottom: 3px solid #f0f0f0;
    padding: 0 10%;
}

.bleed .chart{
	padding: 3% 0;
}

.bleed h4{
	font: 100 2.3em/1 TeleGroteskScreen, 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	padding-top: 36px;
	
}
.bleed h5{
	font: 700 0.8em/1.5 TeleGroteskScreen, 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
	color: #999;
}
